<!DOCTYPE html>
<html>

<head>
   <title>About</title>
   <link rel="icon" href="./img/Ditto.jpg">
   <link rel="stylesheet" href="./css/styles.css">

</head>
<body>
   <div class="main-content">
     {{>header}}
     <p> This site is created by {{name}}</p>
     <p> It uses data from <a href="http://www.mapbox.com" target="_blank">mapbox.com</a> and <a href="http://www.darksky.net" target="_blank">darksky.net</a></p>
     <img class='portrait' src="./img/Ditto.jpg"/>
   </div>
     {{>footer}}
</body>

</html>